body {
    background: lavender;
}

.counter--container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

.counter--card {
    text-align: center;
}

.counter--value {
    margin: 10px;
    font-size: 100px;
}