* {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

body {
    background: lavender;
}

.counter--container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.counter--card {
    text-align: center;
    border: 3px solid white;
    width: 30%;
    height: 50%;
}

.counter--header {
    font-size: 70px;
    padding: 2%;
}

.counter--value {
    
    font-size: 100px;
}